

:root {
	--primary-color: #5F259F; /* Define a root variable for primary color */
	--secondory-color : #fff; /* Define a root variable for sec color */
	--orenge-color : #FFC425; /* Define a root variable for sec color */
	--dark-color :#0D1033; /* Define a root variable for sec color */
	--black-color :#000; /* Define a root variable for sec color */

	--non-active: #FBF6FF;

	
  
  }

  body{

	background-color: #000 !important;
  }

.first_section{

	background-color: #000;
	height: auto;
	
}

.tt-heading-title{

	color: #fff !important;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Header styles */
header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: background-color 0.5s ease-in-out;
  }



  
  
	.float{
		position:fixed;
		width:60px;
		height:60px;
		bottom:40px;
		right:40px;
		background-color:#25d366;
		color:#FFF;
		border-radius:50px;
		text-align:center;
		font-size:30px;
		z-index:100;
	}

	.my-float{
		margin-top:16px;
	}

	.float-call{
		position:fixed;
		width:60px;
		height:60px;
		bottom:40px;
		left:40px;
		background-color:#287ae6;
		color:#FFF;
		border-radius:50px;
		text-align:center;
		font-size:30px;
		z-index:100;
	}



  
  @media only screen and (min-device-width: 1200px) {


	.hero_top{

	
		padding: 8% 13%;
		display: flex;
		gap: 20px;

	}
	.hero-profile{

		border: solid 2px #2c2c2c;
		border-radius: 15px;
		width: 100%;

	}

	.hero-profile-head{

		background-image: url('../img/bg.jpg');
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		border-radius: 14px 14px 0 0 ;
		background-size: cover;
  		background-position: center;
		padding: 3% 4%;
		
	}


	.profile-body{


		text-align: left;
		padding: 3% 4%;

	}

	.user_name{

		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 700 !important;
		text-transform: uppercase;
		text-align: left !important;
		align-self: center;
		font-size: 2vw;
		margin-top: 3%;

	}

	.profile-img{

		width: 160px;
		height: 160px;
		border-radius: 250px;
		border: solid 3px #fff;
		object-fit: cover;

	
	}


	/* start user job section  */

	.user-job-title{

		display: inline-block;

		span {

			font: 700 1.85em/1 "SF Pro Display", sans-serif;
			letter-spacing: 0;
			display: block;
			margin: 0 auto;
			

	/* Clip Background Image */

			background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) 
			repeat-y;
			-webkit-background-clip: text;
			background-clip: text;

		/* Animate Background Image */


		-webkit-text-fill-color: transparent;
		-webkit-animation: aitf 80s linear infinite;

		/* Activate hardware acceleration for smoother animations */

		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;


		}

	}

	@-webkit-keyframes aitf {
		0% { background-position: 0% 50%; }
		100% { background-position: 100% 50%; }
	}


	.btn-main-div{

		display: flex;

	}

	.btn-div{

		display: flex;
		gap: 15px;
	}

	.btn-save{

		width: fit-content;
		border: solid 1px #303030;
		padding: 1.5% 2%;
		display: flex;
		border-radius: 85px;
		gap: 15px;
		justify-content: center; /* Center content horizontally */
		align-items: center; /* Center content vertically */
		
	}

	.solid-btn{

		background-color: #fff;
		color: #000;
	}


	.icon-color-whatsapp{
		
		color: #2aff7c
	}

	.profile-line{

		margin-top: 4%;
		margin-bottom: 2%;
	}

	

	/* end user job section  */


	/* start contact option text */
	

	
	.hero-contact{

		width: 100%;
		border: solid 1px #2c2c2c;
		border-radius: 15px;
	}



	.contact-option-main-div{

		display: flex;
		padding-top: 4%;
		gap:15px;
		width: 80%;

	}
	.contact-option-main-item{
		display: flex;
		gap: 15px;
		width: 100%;
	}
	.contact-icon-div{
		display: flex;
		height: fit-content;
		width: auto;
		border: #131313 solid 1px;
		border-radius: 10px;
		padding: 1% 1%;
		width: 100%;
		
	}

	.contact-icon{

		height: auto;
	
		display: flex; /* Enable flexbox */
		justify-content: center; /* Center content horizontally */
		align-items: center; /* Center content vertically */
	}

	.contact-text{

		width: fit-content;
		align-self: center;
		padding: 0 5%;
	}

	.contact-icon-img{

		width: 45px;
		height: auto;
		margin-left: 5%;

	}

	.icon-title{

		margin-left: 5px;
	}



	

	/* end contact option text */



	


	/* footer section */


	.div-line{
		width: 100%;
		height: 1px;
		background-color: #272727;
	}


	

  /* starting about and service section */


  .how-we-work{


	padding: 8% 13%;
	display: flex;
	gap: 30px;

  }

  .how-we-text{

	flex: 1 0 50%;
	padding-right: 6%;



  }



  .how-image{

	flex: 1 0 50%;
  }

  .card-first-layer{

	display: flex;
	gap: 20px;
  }

  .service-list-2{

	margin-top: 3%;

  }

  .service-card-1{

	color: #fff;
	border-radius: 20px;
	justify-content: center;
	background-color: #0e0e0e;
	padding: 2% 6%;
	padding-top: 8%;
  }

  .service-card-para{

	opacity: 0.5;

  }



  .about-link{

	padding: 2% 3%;
	border: 1px solid #fff;
	width: fit-content;
	border-radius: 7px;
  }


  .contact-inner-section{

	padding: 0 13%;
	padding-bottom: 10%;
  }


  }


@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {


	
	.hero_top{

		padding: 1% 10%;
		padding-top: 11%;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.header-subtitle{

		text-align: center;
		background: rgba(255, 255, 255, 0.09);
		border-radius: 30px;
		backdrop-filter: blur(0.8px);
		-webkit-backdrop-filter: blur(0.8px);
		border: 1px solid  rgba(255, 255, 255, 0.13);
		width: fit-content;
		align-self: center;
		padding: 0.75% 2%;
		
	}

	.main-heading{

		font-size: 7vw;
		text-align: center;
		font-weight: 700;
		color: rgba(255, 255, 255, 0.747);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}


	.btn-offer-header{

		
		color: #000;
		padding: 1% 2%;
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		
		
	}

	.para-header{

		align-self: center;

	}

	.hero-bottom{


		padding: 2% 10%;
		border-radius: 20px;
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-top: -1%;
		

	}

	.glass_container{


		background: rgba(146, 146, 146, 0.13);
		backdrop-filter: blur(3.5px);
		-webkit-backdrop-filter: blur(3.5px);
		border: 1px solid rgba(255, 255, 255, 0.29);
		padding: 2% 2%;
		height: auto;
		border-radius: 20px;
		display: flex;
		align-self: center;
	}




	
	
	
	
	.banner-head-1{
		
		font-family: 'SF Pro Display', sans-serif !important;
		font-size: calc(2px + 2vw);
		padding: 1px !important;
		margin: 1px !important;
		text-align: center;
	

	
	}

	
	
	
	.banner-head-main{
	
	
		padding: 1px !important;
		margin: 1px !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 600 !important;
		text-align: center;
		font-size: calc(2px + 3vw);
		
	
	}
	
	
	
	#counter {
		font-size: 3.8em;
		font-weight: 600 !important;
		margin-top: -10px;
		color: #F7A200;
		text-align: center;
	
	}
	
	
	
	
	.button-banner{
	
	
		background-color: #fff;
		color: #000;
		padding: 5% 15%;
		margin-top: 1%;
		font-weight: 600;
		font-family: 'SF Pro Display', sans-serif !important;
		width: 100%;
	
	
	
		
	}



	.how-video{

		width: 570px;
		height: 310px;
		object-fit: cover;
		border-radius: 20px;
	
	  }
	
	  .video-how{
	
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	  }
	



	/* footer section */



	.footer-top{

		width: 100%;
		display: flex;
		gap: 1%;
		border-top: 1px solid #ffffff22;
	
	}
	
	.div-1{
	
		display: flex;
		flex-direction: column;
		padding: 5% 4%;
		width: 100%;
	}
	
	.footer-div-head{
	
		color: #fff !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 600 !important;
	}
	
	
	.footer-div-link{
	
		color: #9c9c9c !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 200 !important;
		margin-bottom: 4%;
	}
	
	.footer-div-link:hover{
	
		color: #fff !important;
		text-decoration: underline !important;
		
	}




	
/* extra added section  */


.testimonial_section{

	padding: 2% 3.5%;
	color: #fff;
	background-color: #000;

	
}

.testimonial_head_div{
	padding-left: 20%;
	padding-right: 20%;

}

.testimonial_head{


	font-size: calc(5px + 4vw);
	font-family: 'SF Pro Display', sans-serif !important;
	text-align: center;
	margin-top: 10%;
	
}


.testimonial_grid {
	width: 1400px;
	margin: 20px auto;
	columns: 4;
	column-gap: 20px;
  }
  
  .testimonial_grid .box {
	width: 100%;
	
	margin-bottom: 10px;
	break-inside: avoid;
  }
  
  .video_box {
	max-width: 100%;
	height: 350px;
	border-radius: 15px;
	object-fit: cover;
  }
  
  @media (max-width: 1200px) {
	.testimonial_grid {
	  width: calc(100% - 40px);
	  columns: 3;
	}
  }
  
  @media (max-width: 768px) {
	.testimonial_grid {
	  columns: 2;
	}
  }
  
  @media (max-width: 480px) {
	.testimonial_grid {
	  columns: 1;
	}
  }
  
	
  /* marque */

  .marque_header{

	width: 100%;
	text-align: center;
	margin-top: 2%;
	opacity: 0.5;
  }


  .logoMarqueeSection {
	padding: 1% 0%;
	
  }
  
  #logoMarqueeSection {
	max-width: 1920px!important;
	margin: 0 auto;
  }
  
  .default-content-container {
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 0;
	  margin-bottom: 0;
	  /* padding-left: 5rem;
	  padding-right: 5rem; */
	  padding-top: 4.5rem;
	  padding-bottom: 4.5rem;
	  width: 100%;
	  min-height: 100vh;
  }
  
  div.marquee>a>img {
	height: 120px;
  }
  
  .logoMarqueeSection>div>div {
	  padding-top: 0;
	  padding-bottom: 0;
	  min-height: 0;
  }
  
  .marquee-wrapper {
	display:  inline-block;
	white-space: nowrap;
  }
  
  .marquee {
	  display:  inline-block;
	  white-space: nowrap;
	  position: relative;
	  transform: translate3d(0%, 0, 0);
	  animation-name: marquee;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;
  }
  
  .marquee a {
	  display:  inline-block;
	  white-space: nowrap;
	  padding-right: 5.4rem;
  }
  
  .marquee-wrapper:hover .marquee {
	  animation-play-state: paused !important;
  }
  
  @keyframes marquee {
	  0% {
		  transform: translate3d(0%, 0, 0);
	  }
  
	  100% {
		  transform: translate3d(-100%, 0, 0);
	  }
  }




  .how-we-work{


	padding: 8% 13%;
	display: flex;
	gap: 30px;
	flex-direction: column-reverse;

  }

  .how-we-text{

	flex: 1 0 50%;
	padding-right: 6%;



  }

  .how-we-head{


  }

  .how-image{

	flex: 1 0 50%;
  }

  .how-img-right{


	width: 100%;



  }

  .about-link{

	padding: 2% 3%;
	border: 1px solid #fff;
	width: fit-content;
	border-radius: 7px;
  }




}

@media only screen and (min-width: 768px) and (max-width:991px ) {



	.hero_top{

		padding: 1% 10%;
		padding-top: 20%;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.header-subtitle{

		text-align: center;
		background: rgba(255, 255, 255, 0.09);
		border-radius: 30px;
		backdrop-filter: blur(0.8px);
		-webkit-backdrop-filter: blur(0.8px);
		border: 1px solid  rgba(255, 255, 255, 0.13);
		width: fit-content;
		align-self: center;
		padding: 0.75% 2%;
		
	}

	.main-heading{

		font-size: 7vw;
		text-align: center;
		font-weight: 700;
		color: rgba(255, 255, 255, 0.747);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
	}


	.btn-offer-header{

		
		color: #000;
		padding: 1% 2%;
		width: fit-content;
		align-self: center;
		border-radius: 50px;
		
		
	}

	.para-header{

		align-self: center;

	}

	.hero-bottom{


		padding: 2% 10%;
		border-radius: 20px;
		display: flex;
		gap: 20px;
		justify-content: center;
		margin-top: -1%;
		flex-direction: column;

	}

	.glass_container{


		background: rgba(146, 146, 146, 0.13);
		backdrop-filter: blur(3.5px);
		-webkit-backdrop-filter: blur(3.5px);
		border: 1px solid rgba(255, 255, 255, 0.29);
		padding: 2% 2%;
		height: auto;
		border-radius: 20px;
		display: flex;
		align-self: center;
		width: 100%;
		justify-content: center;
	}




	
	
	
	
	.banner-head-1{
		
		font-family: 'SF Pro Display', sans-serif !important;
		font-size: calc(2px + 2vw);
		padding: 1px !important;
		margin: 1px !important;
		text-align: center;
	

	
	}

	
	
	
	.banner-head-main{
	
	
		padding: 1px !important;
		margin: 1px !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 600 !important;
		text-align: center;
		font-size: calc(2px + 3vw);
		
	
	}
	
	
	
	#counter {
		font-size: 3.8em;
		font-weight: 600 !important;
		margin-top: -10px;
		color: #F7A200;
		text-align: center;
	
	}
	
	
	
	
	.button-banner{
	
	
		background-color: #fff;
		color: #000;
		padding: 5% 15%;
		margin-top: 1%;
		font-weight: 600;
		font-family: 'SF Pro Display', sans-serif !important;
		width: 100%;
	
	
	
		
	}



	.how-video{

		width: 570px;
		height: 310px;
		object-fit: cover;
		border-radius: 20px;
	
	  }
	
	  .video-how{
	
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	  }
	



	/* footer section */



	.footer-top{

		width: 100%;
		display: flex;
		gap: 1%;
		border-top: 1px solid #ffffff22;
	
	}
	
	.div-1{
	
		display: flex;
		flex-direction: column;
		padding: 5% 4%;
		width: 100%;
	}
	
	.footer-div-head{
	
		color: #fff !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 600 !important;
	}
	
	
	.footer-div-link{
	
		color: #9c9c9c !important;
		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 200 !important;
		margin-bottom: 4%;
	}
	
	.footer-div-link:hover{
	
		color: #fff !important;
		text-decoration: underline !important;
		
	}




	

  
	
  



  .how-we-work{


	padding: 8% 13%;
	display: flex;
	gap: 30px;
	flex-direction: column-reverse;

  }

  .how-we-text{

	flex: 1 0 50%;
	padding-right: 6%;



  }

  .how-we-head{


  }

  .how-image{

	flex: 1 0 50%;
  }

  .how-img-right{


	width: 100%;



  }

  .about-link{

	padding: 2% 3%;
	border: 1px solid #fff;
	width: fit-content;
	border-radius: 7px;
  }



}


@media only screen and (max-width: 767px){



	#tt-header {
		position: absolute;
		top: 0;
		left:0%;
		width: 100%;
		color: #fff;
		z-index: 999;
		pointer-events: none;
		background: rgba(255, 255, 255, 0.07);
		border-radius: 0px 0 25px 25px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2.1px);
		-webkit-backdrop-filter: blur(2.1px);
		visibility: hidden !important;
	}
	



	
	.hero_top{

	
		padding: 5% 5%;
		display: flex;
		gap: 20px;

	}
	.hero-profile{

		border: solid 2px #2c2c2c;
		border-radius: 15px;
		width: 100%;

	}

	.hero-profile-head{

		background-image: url('../img/bg.jpg');
		display: flex;
		justify-content: space-between;
		align-self: flex-end;
		border-radius: 14px 14px 0 0 ;
		background-size: cover;
  		background-position: center;
		padding: 3% 4%;
		
	}


	.profile-body{


		text-align: left;
		padding: 3% 4%;

	}

	.user_name{

		font-family: 'SF Pro Display', sans-serif !important;
		font-weight: 700 !important;
		text-transform: uppercase;
		text-align: left !important;
		align-self: center;
		font-size: 6vw;
		margin-top: 6%;

	}

	.profile-img{

		width: 25vw;
		height: 25vw;
		border-radius: 250px;
		border: solid 3px #fff;
		object-fit: cover;

	
	}


	/* start user job section  */

	.user-job-title{

		display: inline-block;

		span {

			font: 700 5vw "SF Pro Display", sans-serif;
			letter-spacing: 0;
			display: block;
			margin: 0 auto;

			

	/* Clip Background Image */

			background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) 
			repeat-y;
			-webkit-background-clip: text;
			background-clip: text;

		/* Animate Background Image */


		-webkit-text-fill-color: transparent;
		-webkit-animation: aitf 80s linear infinite;

		/* Activate hardware acceleration for smoother animations */

		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;


		}

	}

	@-webkit-keyframes aitf {
		0% { background-position: 0% 50%; }
		100% { background-position: 100% 50%; }
	}


	.btn-main-div{

		display: flex;

	}

	.btn-div{

		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	.btn-save{

		width: fit-content;
		border: solid 1px #303030;
		padding: 4% 2%;
		display: flex;
		border-radius: 85px;
		gap: 15px;
		justify-content: center; /* Center content horizontally */
		align-items: center; /* Center content vertically */
		width: 100%;
		
	}

	.solid-btn{

		background-color: #fff;
		color: #000;
	}

	.icon-color-phone{

		color: #2583ff
	}
	.icon-color-mail{

		color: #ff2a2a
	}

	.icon-color-whatsapp{
		
		color: #2aff7c
	}

	.div-line{
		width: 100%;
		height: 1px;
		background-color: #272727;
	}

	.profile-line{

		margin-top: 13%;
		margin-bottom: 8%;
	}
	.connect-head{

		text-align: center;
	}

	/* end user job section  */


	/* start contact option text */
	

	.hero-contact{

		width: 100%;
		border: solid 1px #2c2c2c;
		border-radius: 15px;
	}

	.contact-option-main-div{

		display: flex;
		padding-top: 8%;
		gap:15px ;
		flex-direction: column;

	}

	.contact-option-main-item{
		display: flex;
		gap: 15px;
	
	}
	.contact-icon-div{
		display: flex;
		height: fit-content;
		width: auto;
		border: #131313 solid 1px;
		border-radius: 10px;
		padding: 1% 1%;
		width: 100%;
		
	}

	.contact-icon{

		height: auto;
	
		display: flex; /* Enable flexbox */
		justify-content: center; /* Center content horizontally */
		align-items: center; /* Center content vertically */
	}

	.contact-text{

		width: fit-content;
		align-self: center;
		padding: 0 5%;
	}

	.contact-icon-img{

		width: 45px;
		height: auto;
		margin-left: 5%;

	}

	.icon-title{

		margin-left: 5px;
	}



 




  /* start about and service */

  .how-we-work{


	padding: 8% 8%;
	display: flex;
	gap: 30px;
	flex-direction: column;

  }

  .how-we-text{

	flex: 1 0 50%;
	padding-right: 6%;



  }

  .how-we-head{
	font-size: calc(5px + 6vw);


  }

  .card-first-layer{

	display: flex;
	flex-direction: column;
	gap: 20px;
  }

  .service-list-2{

	margin-top: 5%;

  }

  .service-card-1{

	color: #fff;
	border-radius: 20px;
	justify-content: center;
	background-color: #0e0e0e;
	padding: 2% 6%;
	padding-top: 8%;
  }

  .service-card-para{

	opacity: 0.5;

  }




  .about-link{

	padding: 2% 3%;
	border: 1px solid #fff;
	width: fit-content;
	border-radius: 7px;
  }


  /* end about and service */
  

  /* start contact section */


  .contact-inner-section{

	padding: 0 8%;
	padding-bottom: 10%;
  }

  
 }


	